$green: rgb(0, 255, 208);

.btn {
  padding: 7px 30px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  //   color: white;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0px 0px 1px black;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.green {
  color: $green;
  border: 1px solid $green;
  box-shadow: 0 0 3px $green;

  &:hover {
    background-color: $green;
    color: white;
  }
}
